{% extends 'base.html' %}

{% block head %}
    <title> Submit to qwdit </title>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock head %}

{% block content %}
    <div class="form-container">
        <div class="title"> Create a post </div>
        <div class="other-post">
            <a role="button" class="btn btn-outline-secondary" href="/submit/text"> Go to create a text post </a>
        </div>
        <div class="form-block">
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.title(class="form-control", placeholder=form.title.label.text) }}<br>
                    {% for error in form.title.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </p>
                <p>
                    {{ form.img.label() }}
                    {{ form.img(class="form-control") }}<br>
                    {% for error in form.img.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <div class="status-msg">{{ message }}</div>
            </form>
        </div>
    </div>
{% endblock content %}