{% extends 'base.html' %}

{% block head %}
    <title> Log in </title>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock head %}

{% block content %}
    <div class="form-container">
        <div class="title"> Login to qwdit </div>
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email(class="form-control", type="email", placeholder=form.email.label.text) }}<br>
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.password(class="form-control", type="password", placeholder=form.password.label.text) }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div class="status-msg">{{ message }}</div>
        </form>
        <a href="/forgot" class="link"> Forgot password? </a>
        <a href="/signup" class="link link-signup">
            Not registered?
            <span> Create an account </span>
        </a>
    </div>
{% endblock content %}